body {
    font-family: arial, san-serif;
}

main {
    text-align: center;
}

footer {
    bottom: 0;
}


input {
    font-size: 25px;
    width: 33%;
    margin: 20px 20px 20px 20px;
    border-radius: 1em;
    border-style: solid;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

li {
    display: inline;
    float: left;
}

li a {
    font-size: 13px;
    display: block;
    padding: 14px 16px;
    text-decoration: none;
    color: black;
    opacity: 75%;
}

.li-right {
    float: right;
}

.ul-top {
    position: fixed;
    top: 0;
    width: 100%;
}

.ul-bottom {
    position: fixed;
    bottom: 0;
    width: 100%;
}
