body {
    font-family: arial, san-serif;
}

main {
    text-align: center;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -100%);
}

footer {
    bottom: 0;
}


input {
    font-size: 25px;
    width: auto;
    margin: 20px 20px 20px 20px;
    border-radius: 1em;
    border-style: solid;
}

button {
    box-shadow:inset 0px 1px 0px 0px #ffffff;
    background-color:rgb(248, 248, 248);
    border-radius:2px;
    border: none;
    display:inline-block;
    cursor:pointer;
    color:#666666;
    font-weight:bold;
    padding:0.5em 24px;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

li {
    display: inline;
    float: left;
}

li a {
    font-size: 13px;
    display: block;
    padding: 14px 16px;
    text-decoration: none;
    color: black;
    opacity: 75%;
}

.li-right {
    float: right;
}

.ul-top {
    position: fixed;
    top: 0;
    width: 100%;
}

.ul-bottom {
    position: fixed;
    bottom: 0;
    width: 100%;
    color: rgb(34, 34, 34);
}
